<div class="title-container">
  <span>New Vehicle</span>
</div>

<form nz-form [nzLayout]="layout" [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-6 column-padding">
      <nz-form-item>
        <nz-form-label>Vehicle Code</nz-form-label>
        <nz-form-control nzErrorTip="Please Insert Vehicle Code" nzHasFeedback>
          <input nz-input formControlName="vehicle_code" placeholder="Vehicle Name"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6 column-padding">
      <nz-form-item>
        <nz-form-label>Vehicle Type</nz-form-label>
        <nz-form-control nzErrorTip="Please Select Vehicle Type" nzHasFeedback>
          <input nz-input formControlName="vehicle_type" placeholder="Vehicle Type">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="row">
    <div class="col-6 column-padding">
      <nz-form-item>
        <nz-form-label>Vehicle Manufacturer</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="vehicle_manufacturer" placeholder="Vehicle Manufacturer">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6 column-padding">
      <nz-form-item>
        <nz-form-label>Vehicle Model</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="vehicle_model" placeholder="Vehicle Model">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="row">
    <div class="col-6 column-padding">
      <nz-form-item>
        <nz-form-label>Vehicle Year</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="vehicle_year" placeholder="Vehicle Year">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6 column-padding">
      <nz-form-item>
        <nz-form-label>Vehicle Max Load</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="vehicle_max_load" placeholder="Vehicle Max Load">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="row">
    <div class="col-6 column-padding">
      <nz-form-item>
        <nz-form-label>Vehicle Plate</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="vehicle_plate" placeholder="Vehicle Plate">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-6 column-padding">

    </div>
  </div>
  <nz-form-item>
    <nz-form-control class="text-center">
      <button nz-button nzType="primary" class="button-margin">Submit</button>
      <button nz-button nzType="default" class="button-margin" type="reset">Clear</button>
      <button nz-button nzType="default" class="button-margin" routerLink="/manage-vehicle">Back</button>
    </nz-form-control>
  </nz-form-item>
</form>
