.cover {
  width: 100%;
  height: 100%;
}

.height {
  height: 50%;
}

.col-md-6 {
  margin: 0.5%;
  flex: unset;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
