<div class="title-container">
  <span>Driver Detail</span>
</div>

<div class="content-container">
  <nz-spin class="spinner-cover" nzSize="large" [nzSpinning]="loading">
    <div *ngIf="FormReady">
      <form nz-form [nzLayout]="'horizontal'" [formGroup]="DriverDetailFormGroup" (ngSubmit)="updateForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>Driver Code</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input type="text" formControlName="driver_code">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>Driver Name</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input type="text" formControlName="driver_name">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>Driver License</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input type="text" formControlName="driver_license">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>Driver Skill</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input nz-input type="text" formControlName="driver_type">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzRequired>Driver Status</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select formControlName="driver_status">
              <nz-option nzValue="Available" nzLabel="AVAILABLE"></nz-option>
              <nz-option nzValue="Not Available" nzLabel="NOT AVAILABLE"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4">Driver Vehicle</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-input-group nzSearch [nzAddOnAfter]="buttonIcon">
              <input nz-input formControlName="vehicle_code" placeholder="Assign Driver" readonly>
              <input type="hidden" formControlName="vehicle_identity">
            </nz-input-group>
            <ng-template #buttonIcon>
              <button nz-button nzSearch type="button" nzType="primary" (click)="selectVehicle()">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzOffset="4">
            <button nz-button type="submit" nzType="primary" class="button-margin">Update</button>
            <button nz-button type="button" nzType="default" class="button-margin" routerLink="/manage-user"
                    [queryParams]="{TAB_INDEX : 1}">
              Back
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-spin>
</div>

<nz-modal [(nzVisible)]="ModalVisible" nzWidth="80%" nzTitle="Select Vehicle" [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="onModalCancel()" [nzStyle]="{height: '80vh'}"></nz-modal>
<ng-template #modalContent>
  <nz-table #DriverTable nzBordered [nzData]="ListVehicle" [nzPageSize]="10" [nzLoading]="LoadingVehicle"
            nzSize="small">
    <thead>
    <tr>
      <th nzWidth="20%">Vehicle Code</th>
      <th nzWidth="20%">Vehicle Plate</th>
      <th nzWidth="20%">Vehicle Type</th>
      <th nzWidth="20%">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of DriverTable.data">
      <td>{{item.vehicle_code}}</td>
      <td>{{item.vehicle_plate}}</td>
      <td>{{item.vehicle_type}}</td>
      <td class="text-center">
        <a (click)="onVehicleSelected(item.auto_id, item.vehicle_code)">SELECT</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>
<ng-template #modalFooter></ng-template>
