<div class="title-container">
  <span>Task History</span>
</div>

<div class="content-container">
  <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
    <nz-list nzSize="small" nzBordered>
      <nz-list-item *cdkVirtualFor="let item of HistoryData" [nzActions]="[HistoryAction]" [nzExtra]="HistoryStatus">
        <nz-list-item-meta nzTitle="{{item.task_title}}" nzDescription="Date : {{item.task_date_start}} -- {{item.task_date_end}}"></nz-list-item-meta>
        <ng-template #HistoryAction>
          <a routerLink="/manage-task/update-task" [queryParams]="{AUTO_IDENTITY: item.auto_id, RETURN: '/task-history'}">VIEW</a>
        </ng-template>
        <ng-template #HistoryStatus>
          {{item.task_status}}
        </ng-template>
      </nz-list-item>
    </nz-list>
  </cdk-virtual-scroll-viewport>
</div>

<div class="action-container">
  <button nz-button nzType="default" routerLink="/manage-task" class="button-margin">Back</button>
</div>
