.title-container {
  height: 7.5%;
  text-align: center;
  font-size: xx-large;
  border: 1px solid #d9d9d9;
}

.content-container {
  height: 81.5%;
  margin: 0.5% 0 0.5% 0;
}

.action-container {
  height: 10%;
  text-align: center;
}

.button-margin {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.scroll-viewport {
  height: 100%;
}
