.page-title-container {
  height: 7.5%;
  text-align: center;
  font-size: xx-large;
  border: 1px solid #d9d9d9;
  margin: 0 0 1% 0;
}

.page-content-container {
  height: 85%;
  margin: 0.5% 0 0.5% 0;
}

.page-action-container {
  height: 7.5%;
  text-align: center;
}

.button-margin {
  margin-left: 0.5%;
  margin-right: 0.5%;
}
