<ul nz-menu nzMode="inline">
  <li nz-menu-item>
    <a routerLink="/home">
      <i nz-icon nzTheme="twotone" nzType="home"></i>
      <span>Home</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/manage-asset">
      <i nz-icon nzTheme="twotone" nzType="car"></i>
      <span>Manage Asset</span>
    </a>
  </li>
  <li nz-menu-item>
    <a>
      <i nz-icon nzTheme="twotone" nzType="dollar"></i>
      <span>Manage Cost</span>
    </a>
  </li>
  <li nz-menu-item>
    <a>
      <i nz-icon nzTheme="twotone" nzType="tool"></i>
      <span>Manage Service</span>
    </a>
  </li>
  <li nz-menu-item>
    <a>
      <i nz-icon nzTheme="twotone" nzType="project"></i>
      <span>Manage Task</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/manage-user">
      <i nz-icon nzTheme="outline" nzType="user"></i>
      <span>Manage User</span>
    </a>
  </li>


  <!--  <li nz-submenu nzTitle="Manage User" nzIcon="user">-->
  <!--    <ul>-->
  <!--      <li nz-menu-item>Add Driver</li>-->
  <!--      <li nz-menu-item>Add Workshop</li>-->
  <!--      <li nz-menu-item>View Driver</li>-->
  <!--      <li nz-menu-item>View Workshop</li>-->
  <!--    </ul>-->
  <!--  </li>-->
  <!--  <li nz-submenu nzTitle="Manage Asset" nzIcon="team">-->
  <!--    <ul>-->
  <!--      <li nz-menu-item>Add Asset</li>-->
  <!--      <li nz-menu-item>View Asset</li>-->
  <!--    </ul>-->
  <!--  </li>-->
  <!--  <li nz-submenu nzTitle="Manage Assignment" nzIcon="team">-->
  <!--    <ul>-->
  <!--      <li nz-menu-item>Add Assignment</li>-->
  <!--      <li nz-menu-item>View Assignment</li>-->
  <!--    </ul>-->
  <!--  </li>-->
</ul>
