<ul nz-menu nzMode="inline">
  <li nz-menu-item>
    <a routerLink="/home">
      <i nz-icon nzTheme="twotone" nzType="home"></i>
      <span>Home</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/manage-vehicle">
      <i nz-icon nzTheme="twotone" nzType="car"></i>
      <span>Manage Vehicle</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/manage-cost">
      <i nz-icon nzTheme="twotone" nzType="dollar"></i>
      <span>Manage Cost</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/manage-maintenance">
      <i nz-icon nzTheme="twotone" nzType="tool"></i>
      <span>Manage Maintenance</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/manage-task">
      <i nz-icon nzTheme="twotone" nzType="project"></i>
      <span>Manage Task</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/manage-user">
      <i nz-icon nzTheme="outline" nzType="user"></i>
      <span>Manage User</span>
    </a>
  </li>
</ul>
