<div class="search-container">
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="SearchIcon">
    <input nz-input placeholder="Vehicle Code">
  </nz-input-group>
  <ng-template #SearchIcon>
    <button nz-button nzSearch nzType="primary" nzSize="large">
      <i nz-icon nzType="search" nzTheme="outline"></i>
    </button>
  </ng-template>
</div>

<div class="content-container">

</div>

<div class="action-container">
  <button nz-button nzType="default" class="button" routerLink="/manage-maintenance">Back</button>
</div>
