<div class="home-container">
  <div class="d-flex flex-row row-height">
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div *ngIf="Ready">

        </div>
      </nz-spin>
    </div>
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div *ngIf="Ready">
          <nz-descriptions></nz-descriptions>
        </div>
      </nz-spin>
    </div>
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div *ngIf="Ready">

        </div>
      </nz-spin>
    </div>
  </div>
  <div class="d-flex flex-row row-height">
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div *ngIf="Ready">
          <div class="row" style="margin-top: 10%">
            <div class="col-6 text-center">
              <nz-statistic nzTitle="Scheduled Maintenance" [nzValue]="statisticScheduledMaintenance"></nz-statistic>
            </div>
            <div class="col-6 text-center">
              <nz-statistic nzTitle="Completed Maintenance" [nzValue]="statisticCompletedMaintenance"></nz-statistic>
            </div>
          </div>
        </div>
      </nz-spin>
    </div>
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div *ngIf="Ready">
          <div class="row" style="margin-top: 10%">
            <div class="col-6 text-center">
              <nz-statistic nzTitle="Assigned Vehicle" [nzValue]="statisticAssignedVehicle"></nz-statistic>
            </div>
            <div class="col-6 text-center">
              <nz-statistic nzTitle="Unassigned Vehicle" [nzValue]="statisticUnassignedVehicle"></nz-statistic>
            </div>
          </div>
        </div>
      </nz-spin>
    </div>
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div class="cover" *ngIf="Ready">
          <div class="row" style="margin-top: 10%">
            <div class="col-6 text-center">
              <nz-statistic nzTitle="Available Workshop" [nzValue]="statisticAvailableWorkshop"></nz-statistic>
            </div>
            <div class="col-6 text-center">
              <nz-statistic nzTitle="Total Workshop" [nzValue]="statisticTotalWorkshop"></nz-statistic>
            </div>
          </div>
        </div>
      </nz-spin>
    </div>
  </div>
  <div class="d-flex flex-row row-height">
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div *ngIf="Ready">
          <canvas baseChart [chartType]="ChartTypeDoughnut" [data]="chartDriverTypeData"
                  [labels]="chartDriverTypeLabel" [options]="chartDriverTypeOptions"></canvas>
        </div>
      </nz-spin>
    </div>
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div *ngIf="Ready">
          <canvas baseChart [chartType]="ChartTypeDoughnut" [data]="chartTaskData" [labels]="chartTaskLabel"
                  [options]="chartTaskOptions"></canvas>
        </div>
      </nz-spin>
    </div>
    <div class="d-flex flex-column col-md-4 box-shadow">
      <nz-spin class="cover" nzSize="large" [nzSpinning]="Loading">
        <div *ngIf="Ready">

        </div>
      </nz-spin>
    </div>
  </div>
</div>
