<div class="title-container">
  <span>New Task</span>
</div>

<form nz-form nzLayout="horizontal" [formGroup]="TaskFormGroup" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>Task Title</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" formControlName="task_title" placeholder="Task Title">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">Task Detail</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <textarea nz-input formControlName="task_detail" size="4" placeholder="Task Detail"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>Task Date</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="date" formControlName="task_date" placeholder="Task Date Start">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>Task Time</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="time" formControlName="task_time" placeholder="Task Time">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>Origin Location</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" formControlName="task_origin_location" placeholder="Task Origin Location">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>Destination Location</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" formControlName="task_destination_location" placeholder="Task Destination Location">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">Task Driver</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input type="text" formControlName="task_driver" placeholder="Assign Driver">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzOffset="4">
      <button nz-button nzType="primary" class="button-margin" type="submit">Submit</button>
      <button nz-button nzType="default" class="button-margin" type="reset">Clear</button>
      <button nz-button nzType="default" class="button-margin" routerLink="/manage-task">Back</button>
    </nz-form-control>
  </nz-form-item>
</form>
