.title-container {
  height: 7.5%;
  text-align: center;
  font-size: xx-large;
}

.content-container {
  height: 85%;
}

.action-container {
  height: 7.5%;
  text-align: center;
}

.button-margin {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.ant-table-thead > tr > th {
  background-color: greenyellow;
}

tr.ant-table-row {
  background-color: aliceblue;
}
