<nav>
  <ul id="mainNav">
    <li class="active">
      <a href="#section_one">ONE</a>
    </li>
    <li class="active">
      <a href="#section_two">TWO</a>
    </li>
    <li class="active">
      <a href="#section_three">THREE</a>
    </li>
    <li class="active">
      <a href="#section_four">FOUR</a>
    </li>
    <li class="active">
      <a href="#section_five">FIVE</a>
    </li>
    <li class="active" id="login">
      <a routerLink="/login">LOGIN</a>
    </li>
  </ul>
</nav>

<div class="landing-container">
  <section class="landing-section" id="section_one"></section>
  <section class="landing-section" id="section_two"></section>
  <section class="landing-section" id="section_three"></section>
  <section class="landing-section" id="section_four"></section>
  <section class="landing-section" id="section_five"></section>
</div>

<nz-back-top></nz-back-top>
